@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url(images/city3.png);
  background-position: top;
  background-attachment: fixed;
  scrollbar-color: yellow;
  

}

#name {
  font-family: 'Times New Roman', Times, serif;
  font-size: 4vw;
  color: rgb(174, 88, 88)
}

span {
  font-family: serif;
  font-size: 1.4vw;
  text-shadow: 20px 20px 10px black;
  font-weight: bold;
  color: whitesmoke;
  
}

#subMadLibElement {
  background-color:rgba(0,0,0, 0.5);
}

input {
  background-color: rgba(0,0,0, 0.5);
}

#title {
  color: rgb(222, 209, 224);
  text-shadow: 5px 5px 5px rgb(61, 5, 62);
  font-family: 'Cedarville Cursive';
  font-size: 5vw;
}

#titleFlash {
  color: rgb(42, 39, 42);
  text-shadow: 5px 5px 5px rgb(115, 20, 117);
  font-family: 'Cedarville Cursive';
  font-size: 5vw;
}